<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webank.inu.data.mybatis.mappers.HistoryMoodMapper">
    <resultMap id="BaseResultMap" type="com.webank.inu.data.mybatis.model.HistoryMood" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="user_mood" property="userMood" jdbcType="DOUBLE" />
    </resultMap>

    <select id="getHistoryMood" resultMap="BaseResultMap" parameterType="java.lang.String">
        select * from history_mood where open_id = #{openId}
    </select>

    <insert id="insertUserMessage" parameterType="com.webank.inu.data.mybatis.model.HistoryMood" >
        insert into history_mood(open_id, record_time, message, user_mood) values(#{openId}, #{recordTime}, #{message}, #{userMood})
    </insert>
</mapper>