
.hide {
    display: none;
}


.body-bkg {
    background-color: #eee;
}

.list {
    text-align: center;
}

.datetime {
    text-align: center;
    margin: 10px auto;
    max-width: 50%;
    display: inline-block;
    background-color: #dcdcdc;
    font-size: 12px;
    padding: 1px 18px;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.content p {
    text-align: left;
    padding: 9px 13px;
}

